
<div class="flex">

    <h1>Entrar no Minhas Finanças</h1>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput  placeholder="Ex. teste@teste.com">
          <mat-error >
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input type="password" matInput >
          <mat-error >
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary">Entrar</button>
      </form>
</div>

