.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-form-field{
    width: 20rem;
    margin: 10px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}